*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Caixa principal*/

#container{
    width:  950px;
    min-height: 100vh;
    margin: auto; 

    border: solid red;
    border-radius: 40px;

    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    }

    #container h1{
        color: white;
        margin-top: 10px;
    }

    #container p{
        color: white;
        margin-top: 10px;
    }

    /*Barra de calculo*/
    #buscarbar{
    height: auto;
    width: auto;
    gap: 10px;  
    
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #valorInput{
    height: 25px;
    padding: 5px;
    border: none;
    }

    #cacularBtn{
       width: 80px;
    height: 35px;
    color: white;
    background: rgba(7, 79, 187, 0.817);

    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);

    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
  transition: background 0.5s;
    }

/*Resultado calculo*/
    #saque
    {
        border: solid red;
    }